
/* Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* { 
    margin: 0; 
    padding: 0; 
    font-family: 'Poppins', sans-serif; 
} 

.credit{ 
    font-size: 8px; 
    width: 100%; 
    text-align: center; 
} 

.headerContent{ 
    margin-top: 25px; 
    display: grid; 
    grid-template-columns: 25% 50% 25%; 
    grid-template-areas: 
    '. logo search'; 
} 
/* 
.headerContent{ 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin-top: 25px; 
} 
*/ 
.logo{ 
    display: flex; 
    grid-area: logo; 
    width: 100%; 
    flex-direction: row; 
    justify-content: center; 
} 

.logoCarrot{ 
    display: block; 
    width: 24px; 
    height: 34px; 
} 

.logoText{ 
    width: 127px; 
    height: 37px; 
} 

.search{ 
    display: inline-block; 
    width: 30px; 
    height: 30px; 
    grid-area: search; 
    margin-left: 30px; 
} 


.navigation{ 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    list-style: none; 
    margin: 25px;   
} 

li{ 
    font-size: 18px; 
    font-style: italic; 
/*    color: #000000; */ 
    color: yellow; 
} 

.verticalLine{ 
    display: block; 
    width: 5px; 
    height: 25px; 
    border-right: solid 2px #A30900;  
} 

footer{  
    display: block; 
    width: 100%; 
    height: 150px; 
/*    background-color: orange; */ 
    position: absolute; 
/*    bottom: 0; */ 
} 
/* 
.footerGrid{ 
    display: grid; 
    width: 100%; 
    grid-template-columns: 25% 50% 25%; 
    grid-template-areas: 
    "iconsTop iconsTop iconsTop"; 
} 

.iconsTop{ 
    display: block; 
    grid-area: logoTop; 
    background-color: green; 
} 

*/ 
.footerGrid{ 
    display: grid; 
    justify-content: center; 
    width: 100%; 
    height: 100px; 
    grid-template-columns: 25% 50% 25%; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
    "  iconsTop logo  ." 
    ".  email  ." 
    "  iconsBottom copyright  ."; 
}  

.logoFooter{ 
    grid-area: logo; 
    margin: auto; 
} 

.logoBox{ 
    width: 127px; 
    height: 37px; 
} 
.email{ 
    display: flex; 
    flex-direction: row; 
    grid-area: email; 
    margin: auto; 
} 

.envelope{ 
    display: inline-block; 
    width: 10px; 
    height: auto; 
    color: #000000; 
    margin-right: 5px; 
} 
.emailLink{ 
    display: inline-block; 
    font-size: 10px; 
    text-decoration: none; 
    color: #000000; 
} 

.copyright{ 
    display: block; 
    grid-area: copyright; 
    margin: auto; 
} 

.iconsTop{ 
    display: flex; 
    flex-direction: row; 
    grid-area: iconsTop; 
/*    background-color: green; */ 
    justify-content: space-between; 
    margin-right: 10px; 
    margin-left: 10px; 
} 

.icon{ 
    margin: 5px; 
    margin-top: 10px; 
    display: inline-block; 
    width: 30px; 
    height: 30px;   
    color: #000000; 
} 

.iconCircle{ 
    margin: 5px; 
    margin-top: 10px; 
    display: inline-block; 
    width: 25px; 
    height: 25px;  
    color: #ffffff; 
} 

.iconsBottom{ 
    display: block; 
    grid-area: iconsBottom; 
/*    background-color: purple; */ 
} 

h1{ 
    width: 100%; 
    font-size: 20px; 
    text-align: center; 
} 

.h2_opskriftindex{ 
    width: 100%; 
    font-size: 18px; 
    text-align: center; 
    font-style: italic; 
    margin-top: 10px; 
} 

.opskriftindex_beskrivelse{ 
    font-size: 14px; 
    margin: 20px 36px; 
} 
